<main class="flex">
  <aside class="p-t-250 p-r-250 p-b-250 p-l-250 bg-b-1">
    <article class="h-100 border-r-150 p-t-5 p-r-5 p-b-5 p-l-5 flex flex-d-c">
      <img src="assets/layout/navbar/finance.svg" alt="finance-logo" />
      <h1 class="color-w font-s-1 font-w-7 font-lh-120 m-t-a">
        Keep track of your money and save for your future
      </h1>
      <p class="color-w font-s-4 font-w-4 font-lh-150 m-t-3">
        Personal finance app puts you in control of your spending. Track
        transactions, set budgets, and add to savings pots easily.
      </p>
    </article>
  </aside>
  <header class="outline bg-g-9 p-t-3 p-r-5 p-b-3 p-l-5 flex just-c align-c">
    <img src="assets/layout/navbar/finance.svg" alt="finance-logo" />
  </header>
  <aside class="p-t-4 p-r-5 p-b-4 p-l-5 bg-b-1 flex flex-d-c just-c align-c">
    <router-outlet></router-outlet>
  </aside>
</main>
