<section id="overlay" class="h-100 w-100 flex just-c align-c">
  <form
    (ngSubmit)="submitForm()"
    [formGroup]="addBudgetForm"
    class="p-t-4 p-r-4 p-b-4 p-l-4 bg-w border-r-150 flex flex-d-c gap-250"
  >
    <header class="flex just-s-b align-c">
      <h2 class="color-g-9 font-s-1 font-w-7 font-lh-120">Add New Budget</h2>
      <img
        (click)="exitPage()"
        src="assets/budgets/close-button.svg"
        alt="close-button"
      />
    </header>
    <p class="color-g-5 font-s-4 font-w-4 font-lh-150">
      Choose a category to set a spending budget. These categories can help you
      monitor spending.
    </p>
    <ul class="flex flex-d-c gap-200">
      <app-add-category formControlName="category"></app-add-category>
      <app-add-spend formControlName="max"></app-add-spend>
      <app-add-theme formControlName="theme"></app-add-theme>
    </ul>
    <app-add-button type="submit"></app-add-button>
  </form>
</section>
