<article class="bg-w border-r-150 p-t-4 p-r-4 p-b-4 p-l-4">
  <app-overview-card-header
    title="Recurring Bills"
    navTitle="See Details"
  ></app-overview-card-header>
  <ul class="m-t-4 flex flex-d-c gap-150">
    <app-recurring-item
      title="Paid Bills"
      amount="$190.00"
    ></app-recurring-item>
    <app-recurring-item
      title="Total Upcoming"
      amount="$194.98"
    ></app-recurring-item>
    <app-recurring-item title="Due Soon" amount="$59.98"></app-recurring-item>
  </ul>
</article>
