<h1 class="color-g-9 font-s-1 font-w-7 font-lh-120 m-t-1 m-b-1">
  Transactions
</h1>
<section class="bg-w border-r-150 outline m-t-4 p-t-4 p-r-4 p-b-4 p-l-4">
  <header class="flex just-s-b">
    <app-search-bar class="outline"></app-search-bar>
    <div class="outline flex gap-300 align-c">
      <app-sort-by type="Sort By"></app-sort-by>
      <app-sort-by type="Category"></app-sort-by>
    </div>
  </header>
  <app-transactions-table class="outline"></app-transactions-table>
  <nav class="m-t-3 p-t-3 outline flex just-s-b">
    <app-page-nav type="prev"></app-page-nav>
    <div class="flex gap-100 outline">
      @for(item of transactionService.totalPages$ | async; track item){
      <app-page-number [number]="item"></app-page-number>
      }
    </div>
    <app-page-nav type="next"></app-page-nav>
  </nav>
</section>
