.dropdown{
    position: relative;
    cursor: pointer;
}

.dropdown-content{
    position: absolute;
    top: calc(47px + 16px);
    left: 0px;
    max-height: 300px;
    overflow: auto;
    z-index: 2;
}


/* Hover styles */

@media (min-width: 65.94rem){
    .dropdown:hover{
        border-color: var(--grey500)
    }
}