button{
    margin-bottom: 58px;
}

h2{
    font-weight: 700;
    color: var(--grey300);
    font-size: 1.6rem;
    line-height: 2.4rem;
}

@media (min-width: 1024px) {
    button:hover > img{
        filter: brightness(120%) contrast(90%);
    }

    button:hover > h2{
        color: #F2F2F2;
    }
}


/* Previously 768px*/

@media (max-width: 1055px){
    button{
        display: none;
    }
}
