#total-bills-loading{
    height: 19.04rem;
    display: block;
}

/* Mobile */

@media (max-width: 47.125rem){
article{
    padding-left: var(--spacing250);
    padding-right: var(--spacing250);
    flex-direction: row;
    align-items: center;
    gap: var(--spacing250);
}
#total-bills-loading{
    height: 11.84rem;
}
}