app-budgets-summary{
    width: 41.32%;
}

section > div{
    width: 58.58%;
}

#budget-card-loading{
    height: 51.098rem;
    display: block;
}

/* Tablet */

@media (max-width: 65.94rem){
    section{
        flex-direction: column;
    }

    app-budgets-summary{
        width: 100%;
    }

    app-budgets-card{
        width: 100%;
    }

    section > div:nth-of-type(1){
        width: 100%;
    }
}

/* Mobile*/
@media (max-width: 47.125rem){
    #budget-card-loading{
        height: 48.61rem;
    }
}
