<header class="p-t-1 p-b-1 flex just-s-b align-c">
  <h1 class="color-g-9 font-s-1 font-w-7 font-lh-120">Budgets</h1>
  <app-add-budgets></app-add-budgets>
</header>
@if(budgetService.budgets$ | async; as budgets){ @if(budgets.length == 0 &&
!loading){
<h1 class="flex just-c m-t-4">No budgets available</h1>
}
<section class="m-t-4 flex gap-300">
  <app-budgets-summary [loading]="loading"></app-budgets-summary>
  <div class="flex flex-d-c gap-300">
    @if(loading){ @for(skeleton of [1,2]; track skeleton){
    <p-skeleton
      id="budget-card-loading"
      height="100%"
      width="100%"
      borderRadius="12px"
    ></p-skeleton>
    } } @for(budget of budgets; track budget.id){
    <app-budgets-card [budget]="budget" [id]="budget.id"> </app-budgets-card>
    }
  </div>
</section>
}
<router-outlet></router-outlet>
