button{
    height: 56px;
}

h2{
    font-weight: 700;
    color: var(--grey300);
    font-size: 1.6rem;
    line-height: 2.4rem;
}
img{
    width: 24px;
    height: 25px;
}

.inactive, .active{
    width: 100%;
    padding-left: var(--spacing400);
    padding-right: var(--spacing400);
    padding-top: var(--spacing200);
    padding-bottom: var(--spacing200);
    display: flex;
    align-items: center;
}

.active{
    background-color: var(--beige100);
    border-radius: 0px 12px 12px 0px;
    border-left: var(--spacing-50, 4px) solid var(--green, #277C78);
}

.active > h2{
    color: var(--grey-900);
}

.active > img{
    filter: brightness(0) saturate(100%) invert(40%) sepia(29%) saturate(1066%) hue-rotate(140deg) brightness(92%) contrast(88%);
}

/* Media queries */

/* Previously 768px*/

@media (max-width: 1055px) {
    button{
        height: 100%;
    }

    .inactive, .active{
        width: 104px ;
        flex-direction: column;
        padding: var(--spacing100) 0px var(--spacing150) 0px;
        gap: var(--spacing50);
    }

    img{
    }

    h2{
        margin-left: 0px;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .active{
        border-radius: 8px 8px 0px 0px;
        border-left: none;
        border-bottom: var(--spacing-50, 4px) solid var(--color-green, #277C78);
    }
}

/* Previously 600 */

@media (max-width: 754px){
    button{
        height: 100%;
    }

    .inactive, .active{
        width: 100%;
        padding: var(--spacing-100, 8px) 0px var(--spacing-150, 12px) 0px;
    }

    h2{
        display: none;
    }
}

/* Hover styles */

@media (min-width: 1024px) {
    .inactive:hover > img{
        filter: brightness(120%) contrast(90%);
    }

    .inactive:hover > h2{
        color: #F2F2F2;
    }
}