<section id="overlay" class="h-100 w-100 flex just-c align-c">
  <article
    class="p-t-4 p-r-4 p-b-4 p-l-4 bg-w border-r-150 flex flex-d-c gap-250"
  >
    <header class="flex just-s-b align-c">
      <h2 class="color-g-9 font-s-1 font-w-7 font-lh-120">Edit Budget</h2>
      <img
        (click)="exitPage()"
        src="assets/budgets/close-button.svg"
        alt="close-button"
      />
    </header>
    <p class="color-g-5 font-s-4 font-w-4 font-lh-150">
      As your budgets change, feel free to update your spending limits.
    </p>
    <ul class="flex flex-d-c gap-200">
      <app-add-category></app-add-category>
      <app-add-spend></app-add-spend>
      <app-add-theme></app-add-theme>
    </ul>
    <app-save-changes></app-save-changes>
  </article>
</section>
