<article class="p-t-4 p-r-4 p-b-4 p-l-4 bg-w border-r-150 outline">
  <app-overview-card-header
    title="Budgets"
    navTitle="See Details"
  ></app-overview-card-header>
  <section class="m-t-250 outline p-t-1 p-b-1 flex gap-200 align-c">
    <app-budgets-pie class="w-100 outline"></app-budgets-pie>
    <div class="w-100 flex flex-d-c gap-200">
      <app-pots-savings-micro
        title="Entertainment"
        amount="$50.00"
        bgColor="bg-g"
        class="h-100"
      ></app-pots-savings-micro>
      <app-pots-savings-micro
        title="Bills"
        amount="$750.00"
        bgColor="bg-cyan"
        class="h-100"
      ></app-pots-savings-micro>
      <app-pots-savings-micro
        title="Dining Out"
        amount="$75.00"
        bgColor="bg-yellow"
        class="h-100"
      ></app-pots-savings-micro>
      <app-pots-savings-micro
        title="Personal Care"
        amount="$100.00"
        bgColor="bg-navy"
        class="h-100"
      ></app-pots-savings-micro>
    </div>
  </section>
</article>
