article{
    height: 100%;
}

section > div {
    width: 35%;
}

#budgets-loading{
    display: block;
    height:52.515rem;
}


/* Tablet */

@media (max-width: 65.94rem){
    section > div{
        width: 25%;
    }
    #budgets-loading{
        height: 34.8rem;
    }
}

/* Mobile */

@media (max-width: 47.125rem){
    article{
        padding: var(--spacing300) var(--spacing250) var(--spacing300) var(--spacing250)
    }

    section{
        flex-direction: column;
    }
    section > div{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        max-height: 102px;
    }
    #budgets-loading{
        height: 45rem;
    }
}