aside{
    height: 100%;
    width: 300px;
    background-color: var(--grey900);
    border-radius: 0px 16px 16px 0px;
}

img{
    width: 122px;
    height: 22px;
}

/* Previously 768px*/

@media (max-width: 65.94rem) {
    aside{
        height: 74px;
        width: 100%;
        flex-direction: row;
        padding: var(--spacing100, 8px) var(--spacing500, 40px) 0px var(--spacing500, 40px);
        border-radius: 8px 8px 0px 0px;
    }

    aside > img {
        display: none;
    }

    nav{
        padding-top: 0px;
        margin-bottom: 0px;
        padding-right: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

/* Previously 600 */

@media (max-width: 47.125rem){
    aside{
        height: 52px;
        padding: var(--spacing100, 8px) var(--spacing200, 16px) 0px var(--spacing200, 16px);
    }
    nav{
        justify-content: unset;
    }

    app-nav-button{
        width: 100%;
    }
}