<aside class="p-t-5 flex flex-d-c">
  <img class="m-l-4 m-b-5" src="assets/layout/navbar/finance.svg" alt="" />
  <nav class="p-t-3 m-b-3 p-r-3 h-100">
    <app-nav-button
      name="Overview"
      icon="assets/layout/navbar/nav-button/overview.svg"
    ></app-nav-button>
    <app-nav-button
      name="Transactions"
      icon="assets/layout/navbar/nav-button/transactions.svg"
    ></app-nav-button>
    <app-nav-button
      name="Budgets"
      icon="assets/layout/navbar/nav-button/budgets.svg"
    ></app-nav-button>
    <app-nav-button
      name="Pots"
      icon="assets/layout/navbar/nav-button/pots.svg"
    ></app-nav-button>
    <app-nav-button
      name="Recurring Bills"
      icon="assets/layout/navbar/nav-button/recurring.svg"
    ></app-nav-button>
  </nav>
  <app-minimize></app-minimize>
</aside>
