article{
    height: 218px;
    outline: 2px solid red;
}

.gap-11{
    gap:11px;
}

.p-r-89{
    padding-right: 89px;
}

/* Money bag image */
img:nth-of-type(2){
    width: 40px;
    height: 40px;
}

.grid{
    grid-gap: var(--spacing200);
    grid-template-columns: repeat(2, 1fr);
}

/* Mobile */

@media (max-width: 47.125rem){
    article{
        padding: var(--spacing300) var(--spacing250) var(--spacing300) var(--spacing250);
        height: 100%;
    }
    section{
        flex-direction: column;
        gap: var(--spacing250);
    }
}