<!-- Added text-truncate to total savings as temporary solution. Will comeback to fix later on -->

<article class="p-t-4 p-r-4 p-b-4 p-l-4 border-r-150 bg-w">
  <app-overview-card-header
    title="Pots"
    navTitle="See Details"
  ></app-overview-card-header>
  <section class="flex m-t-250 gap-250">
    <div
      class="p-t-2 w-100 p-b-2 p-l-2 p-r-2 bg-b-1 border-r-150 flex align-c text-truncate"
    >
      <img src="assets/overview/money-bag.svg" alt="money-bag" />
      <div class="flex flex-d-c m-l-2 gap-11">
        <h2 class="font-s-4 font-w-4 color-g-5 font-lh-150">Total Saved</h2>
        <p class="font-s-1 color-g-9 font-w-7 font-lh-120">$850</p>
      </div>
    </div>
    <div class="w-100">
      <div class="grid">
        <app-pots-savings-micro
          title="Savings"
          amount="$159"
          bgColor="bg-g"
        ></app-pots-savings-micro>
        <app-pots-savings-micro title="Gift" amount="$40" bgColor="bg-cyan">
        </app-pots-savings-micro>
        <app-pots-savings-micro
          title="Concert Ticket"
          amount="$110"
          bgColor="bg-navy"
        >
        </app-pots-savings-micro>
        <app-pots-savings-micro
          title="New Laptop"
          amount="$10"
          bgColor="bg-yellow"
        >
        </app-pots-savings-micro>
      </div>
    </div>
  </section>
</article>
