<article class="p-t-4 p-r-4 p-b-4 p-l-4 border-r-150 bg-w">
  <app-overview-card-header
    title="Pots"
    navTitle="See Details"
  ></app-overview-card-header>
  <section class="flex m-t-250">
    <div class="p-t-2 w-100 p-b-2 p-l-2 bg-b-1 border-r-150 flex align-c">
      <img src="assets/overview/money-bag.svg" alt="money-bag" />
      <div class="flex flex-d-c m-l-2 gap-11">
        <h2 class="font-s-4 font-w-4 color-g-5 font-lh-150">Total Saved</h2>
        <p class="font-s-1 color-g-9 font-w-7 font-lh-120">$850</p>
      </div>
    </div>
    <div class="m-l-250 w-100">
      <div class="grid">
        <div class="grid-item w-100 flex">
          <div class="color-tag bg-g"></div>
          <div class="flex flex-d-c">
            <h2 class="font-s-5 font-w-4 font-lh-150 color-g-5">Savings</h2>
            <p class="color-g-9 font-s-4 font-w-7 font-lh-150">$159</p>
          </div>
        </div>
        <div class="grid-item w-100 flex">
          <div class="color-tag bg-cyan"></div>
          <div class="flex flex-d-c">
            <h2 class="font-s-5 font-w-4 font-lh-150 color-g-5">Gift</h2>
            <p class="color-g-9 font-s-4 font-w-7 font-lh-150">$40</p>
          </div>
        </div>
        <div class="grid-item w-100 flex">
          <div class="color-tag bg-navy"></div>
          <div class="flex flex-d-c">
            <h2 class="font-s-5 font-w-4 font-lh-150 color-g-5">
              Concert Ticket
            </h2>
            <p class="color-g-9 font-s-4 font-w-7 font-lh-150">$110</p>
          </div>
        </div>
        <div class="grid-item w-100 flex">
          <div class="color-tag bg-yellow"></div>
          <div class="flex flex-d-c">
            <h2 class="font-s-5 font-w-4 font-lh-150 color-g-5">New Laptop</h2>
            <p class="color-g-9 font-s-4 font-w-7 font-lh-150">$10</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
