<!-- Added text-truncate to total savings as temporary solution. Will comeback to fix later on -->

<article class="p-t-4 p-r-4 p-b-4 p-l-4 border-r-150 bg-w">
  <app-overview-card-header
    title="Pots"
    navTitle="See Details"
  ></app-overview-card-header>
  <section class="flex m-t-250 gap-250">
    <div
      class="p-t-2 w-100 p-b-2 p-l-2 p-r-2 bg-b-1 border-r-150 flex align-c text-truncate"
    >
      <img src="assets/overview/money-bag.svg" alt="money-bag" />
      <div class="flex flex-d-c m-l-2 gap-11">
        <h2 class="font-s-4 font-w-4 color-g-5 font-lh-150">Total Saved</h2>
        <p class="font-s-1 color-g-9 font-w-7 font-lh-120">
          {{
            potService.getTotalSaved() | currency : "USD" : "symbol" : "1.0-0"
          }}
        </p>
      </div>
    </div>
    <div class="w-100">
      <div class="grid">
        @for (pot of (potService.pots$ | async)?.slice(0,4); track $index) {
        <app-pots-savings-micro
          [title]="pot.name"
          [amount]="pot.saved"
          [theme]="pot.theme"
        ></app-pots-savings-micro>
        }
      </div>
    </div>
  </section>
</article>
