<article
  class="p-t-250 p-r-250 p-b-250 p-l-250 flex flex-d-c bg-w border-r-150"
>
  <h2 class="color-g-9 font-s-3 font-w-7 font-lh-150">Summary</h2>
  <ul class="outline m-t-250">
    <li class="flex just-s-b">
      <p class="color-g-5 font-s-5 font-w-4 font-lh-150">Paid Bills</p>
      <p class="color-g-9 font-s-5 font-w-7 font-lh-150">4 ($190.00)</p>
    </li>
    <hr class="m-t-2 m-b-2 w-100" />
    <li class="flex just-s-b">
      <p class="color-g-5 font-s-5 font-w-4 font-lh-150">Total Upcoming</p>
      <p class="color-g-9 font-s-5 font-w-7 font-lh-150">4 ($190.00)</p>
    </li>
    <hr class="m-t-2 m-b-2 w-100" />
    <li class="flex just-s-b">
      <p class="color-red font-s-5 font-w-4 font-lh-150">Total Upcoming</p>
      <p class="color-red font-s-5 font-w-7 font-lh-150">4 ($190.00)</p>
    </li>
  </ul>
</article>
