section{
    grid-gap: var(--spacing300);
    grid-template-columns: repeat(2, 1fr);
}

#pots-card-loading{
    height: 30.54rem;
    display: block;
}


/* Tablet */

@media (max-width: 65.94rem ) {
    section {grid-template-columns: 1fr;}
}

