<header class="p-t-1 p-b-1 flex just-s-b align-c">
  <h1 class="color-g-9 font-w-7 font-lh-120 font-s-1">Pots</h1>
  <app-add-pot></app-add-pot>
</header>

<section class="m-t-4 grid">
  @if(loading){ @for(skeleton of [1,2,3,4]; track skeleton){
  <p-skeleton
    id="pots-card-loading"
    height="100%"
    width="100%"
    borderRadius="12px"
  ></p-skeleton>
  } } @for(pot of potsService.pots$| async; track pot.id){
  <app-pots-card [id]="pot.id" [pot]="pot"></app-pots-card>
  }
</section>
<router-outlet></router-outlet>
